[submodule "uima-nerl"]
	path = uima-nerl
	url = https://github.com/GLiCom/uima-nerl.git
[submodule "babelfy-uima"]
	path = babelfy-uima
	url = https://github.com/GLiCom/babelfy-uima.git
[submodule "uima-opinion"]
	path = uima-opinion
	url = https://github.com/GLiCom/uima-opinion.git
[submodule "dbpedia-spotlight"]
	path = dbpedia-spotlight
	url = https://github.com/jgrivolla/dbpedia-spotlight.git
[submodule "uima-io"]
	path = uima-io
	url = https://github.com/EUMSSI/EUMSSI-UIMA-IO.git
[submodule "uima-ts"]
	path = uima-ts
	url = https://github.com/EUMSSI/EUMSSI-UIMA-TS.git
[submodule "eumssi-pipelines"]
	path = eumssi-pipelines
	url = https://github.com/EUMSSI/EUMSSI-UIMA-pipelines.git
